# Copie para keystore.properties na pasta android/ e preencha (não commite).
# Gere o keystore: keytool -genkey -v -keystore toplavanderia-release.jks -keyalg RSA -keysize 2048 -validity 10000 -alias toplavanderia

storeFile=toplavanderia-release.jks
storePassword=ALTERAR
keyAlias=toplavanderia
keyPassword=ALTERAR
